*{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  width: 50%;
  height: 50vh;
  background: none;
}


.container {
  width: 40;
  height:  50vh;
  background: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.thumbnail  {
  position: absolute;
  cursor: 20%;
  transition: 20%;
}

.thumbnail li{
  padding: 60% 0;
  cursor: pointer;
  transition: 4.s ease-in-out;
}

.thumbnail li img{
  width: 60px;
}

.thumbnail li:hover{
  transform: translate(10px);
}

.image-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-20%, -50%);
}

.image-container img{
  width: 500px;
}
