*{
  margin 0;
  padding 0;
}
body{
  background-image:url(spray.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar{
  text-align: left;
  flex:1;
}
.navbar a{
  padding:6px 20px;
  text-decoration: none;
  color: white;
  margin-left: 0px;
  font-size: 26px;
  font-weight: Arial;
}
#mainbox img{
  width:50%;
  height:40%;
}
#mainbox p{
  padding:6px 20px;
  text-decoration: none;
  color: red;
  margin-left: 0px;
  font-size: 26px;
  font-weight:Arial;
}
#laps{
  width: 120;
  height: 170vh;
  background-image:url;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 9%;
  padding-right: 8%;
  box-sizing: border-box;
}
#laps img{
  width:30%;
  height: 20%;
}
#laps {
  padding:2px 10px;
  text-decoration: none;
  color:white;
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
  background-color: none;
}
#laps1 img{
  width:50%;
  height: 50%;
}
#laps1 img{
  width:100;
    height:50%;
    padding:10px;
    padding-left: 19%;
    margin-left: -19%;
    margin-bottom: 100%;
    float:left;
    color: gray;
}
#laps2 img{
  width:50%;
    height:100%;
    padding:5px;
    margin-left: 1%;
    margin-bottom: 2%;
    float:left;
    color: gray ;
}
#laps2 div{
  padding:6px 20px;
  text-decoration: none;
  color: red;
  margin-left: 100px;
  font-size: 30px;
  font-weight: Arial;
}
#laps2 div{
  padding:6px 20px;
  text-decoration: none;
  color: red;
  margin-left: -18px;
  font-size: 29px;
  font-weight: Arial;
}
#laps3 {
  width: 100;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 1%;
  padding-right: 10%;
  box-sizing:
 }
 #laps3 img{
   width:100%;
    height:100%;
 }
 #laps4 img{
   width:100%;
    height:100%;
 }
 #laps4 a{
   width:100%;
    height:100%;
 }
 #lapss img {
   width:30%;
    height:50%;
 }
 #lapss {
   padding:2px 10px;
   text-decoration: none;
   color:red;
   margin-left: 1vh;
   font-size: 25px;
   font-weight: Arial;
