body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#mainbox {
    width:1250px;
    height: 900px;
    background-color:brown;
    opacity: 95%;
}
#mainbox #firstrow {
    height:350px;
    width:100%;
}
#mainbox #secondrow {
    width:100%;
    height:350px;
}
#mainbox #firstrow .idiots {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left: 3%;
    margin-bottom: 1%;
    float:left;
    color: beige;
}
#mainbox #firstrow .idiots img{
    width:50%;
    height:40%;
    margin-left: auto;
    margin-right: auto;
  display: block;
}
#mainbox #firstrow .idiots p {
    font-size:12px;
}
#mainbox #firstrow .strong {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: beige;
}
#mainbox #firstrow .strong img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #firstrow .strong p {
    font-size:12px;
}
#mainbox #firstrow .furious {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: beige;
}
#mainbox #firstrow .furious img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #firstrow .furious p {
    font-size:12px;
}
#mainbox #firstrow .captainphillips {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: beige;
}
#mainbox #firstrow .captainphillips img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #firstrow .captainphillips p {
    font-size:12px;
}
#mainbox #firstrow .coachcarter{
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: beige;
}
#mainbox #firstrow .coachcarter img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #firstrow .coachcarter p {
    font-size:12px;
}
#mainbox #secondrow .homealone {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    float:left;
    color: beige;
}
#mainbox #secondrow .homealone img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #secondrow .homealone p {
    font-size:12px;
}
#mainbox #secondrow .olympushasfallen {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    float:left;
    color: beige;
}
#mainbox #secondrow .olympushasfallen img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #secondrow .olympushasfallen p {
    font-size:12px;
}
#mainbox #secondrow .spacejam {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    float:left;
    color: beige;
}
#mainbox #secondrow .spacejam img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #secondrow .spacejam p {
    font-size:12px;
}
#mainbox #secondrow .worldwarz{
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    float:left;
    color: beige;
}
#mainbox #secondrow .worldwarz img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #secondrow .worldwarz p {
    font-size:12px;
}
#mainbox #secondrow .junglecruise {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px black;
    margin-left:3%;
    float:left;
    color: beige;
}
#mainbox #secondrow .junglecruise img{
  width:50%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
display: block;
}
#mainbox #secondrow .junglecruise p {
    font-size:12px;
}
